.CreateEpisodes {
    padding: 40px;
    height: 20px;
    width: 100px;
    border-radius: 10%;
    background-color: pink;
    color: whitesmoke;
    margin: 50px auto auto auto;
    display: flex;
   }
   
   .SubmitButton {
       background-color:whitesmoke;
       color: whitesmoke;
       border-radius: 100%;
       border: 10px solid pink;
       padding: 2px 6px;
   }
   