.App {
  text-align: center;
  color: whitesmoke;
  background-color: pink;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  color: whitesmoke;
  background-color: pink;

}

.App-header {
  background-color: pink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  color: whitesmoke;
  background-color: pink;
  font-size: 18px;
  font: helvetica;
  box-align: center;
}

.logo {
  background-image: './logo.png';
  border-radius: 2px;
  display: inline;
  color: whitesmoke;
  background-color: pink;
}

.App-link {
  color: whitesmoke;
  background-color: pink;
  font-size: 12px;
}

.nav {
  color: pink;
  background-color: white !important;
}

.navbar-expand-lg {
  color: pink !important;
  background-color: white !important;
}


.navbar-brand {
  color: pink !important;
  background-color: white !important;
}

.navbar-item {
  color: pink;
  background-color: white;
}

.navbar {
  color: pink;
  background-color: white;
}

a {
  color: white !important;
  font-size: 20px;
}


.btn-default { 
  color: pink;
  background-color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}